// src/styles/variables.scss

// Font families
$font-family-primary: 'Poppins', sans-serif;

// Font sizes
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Colors
$color-primary: #ffb700;
$color-secondary: #2c2c2c;
$color-background: #f8f8f8;
$color-text: #333;
$color-button:#00174d